@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  font-family: 'League Spartan';
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.homePage {
  color: white;
  background-image: url('./Pages/BackgroundImages/Bimage5.png');
  background-repeat: no-repeat;
  min-height: 95vh;
  width: 100%;
  align-content: center;
 }

.LogInPage {
  color: white;
  background-image: url('./Pages/BackgroundImages/Bimage2.png');
  background-repeat: no-repeat;
  min-height: 95vh;
  width: 100%;
  align-content: center;
 }